img {
  width: 100%;
  height: auto;
}

h1 {
  color: darkgoldenrod;
  font-weight: bold;
}

p {
  color: darkgoldenrod;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}

a {
  background-color: darkgoldenrod;
  color: maroon;
  text-decoration: none;
}

a:hover {
  background-color: darkgoldenrod;
  color: maroon;
  border: 2px solid maroon;
}
