img {
  width: 100%;
  height: auto;
}

h1 {
  color: darkgoldenrod;
  font-weight: bold;
}

p {
  color: darkgoldenrod;
}

a {
  background-color: darkgoldenrod;
  color: maroon;
  text-decoration: none;
}

a:hover {
  background-color: darkgoldenrod;
  color: maroon;
  border: 2px solid maroon;
}
