button {
  background-color: darkgoldenrod;
  color: maroon;
}

button:hover {
  background-color: darkgoldenrod;
  color: maroon;
}

img{
  width: 100%;
  cursor: pointer;
}

h5{
  color: darkgoldenrod;
}

