
<h5 class="row p-5 mt-5">{{categoryName}}</h5>


<div class="row mt-5">
  <div class="col-lg-4" *ngFor="let movie of movies.results">
    <div class="row p-5">
      <div class="col-log-3 mt-4 mb-4" *ngIf="movie.poster_path">
        <img
          src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"
          [routerLink]="['/movie', movie.id]"
        >
      </div>
      <div class="col-log-9 mt-4 mb-4">
        <h5>{{movie.original_title}}</h5>
      </div>
    </div>
  </div>
</div>


